
body{
margin: 30px;
font-style: 
}

.b1{
background-color: rgb(200,200,200);
padding: 20px;
border-bottom: solid 10px;
border-color: rgb(255,255,255);
}

.b2{
background-color: rgb(200,200,200);
padding: 20px;
}

#name{
font-size: 3em;
margin: 0px;
}

.navbar{
padding: 10px;
font-size: 1.4em;
}

h1{
font-size: 2em;
text-align: center;
}

p{
text-align: center;
}

li{
text-align: left;
}

.picture{
border: solid;
border-color: rgb(150,150,150);
border-style: inset;
}

h2{
text-align: center;
}